body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    margin: 2%;
    padding: 20px;
    border-radius: 20px;
    background-color: #333030;
    height: 90vh;
}

/* tabs */
.tab-container {
    display: flex;
    border-bottom: 1px solid #ccc;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 10px;
    background: #333030;
}
.tab.active {
    background: #232121;
    font-weight: bold;
}
.tab-content {
    padding: 20px;
    display: none;
}
.tab-content.active {
    display: block;
}